<h2 class="text-center">
  Work Together to Make Government Better
</h2>

<%= if length(@projects) > 0 do %>
<h5 class="my-4 text-center">
  Featured Projects
</h5>
<%= render ProjectView, "_projects.html", projects: @projects, conn: @conn %>
<% end %>