<%= form_for @changeset, @action, fn f -> %>
  <%= PBF.text_input f, :title %>

  <%= PBF.textarea f, :body %>

  <%= PBF.submit f, "Submit project for consideration", class: "btn btn-primary" %>
<% end %>
