<%= form_for @changeset, @action, [autocomplete: "off"], fn f -> %>

  <%= PBF.text_input f, :title, label: [text: "Project Title"] %>

  <%= trix_editor f, :body, label: [text: "Describe the problem you are trying to solve in as much detail as possible. Tell us who is affected by it, where it is happening, and how you are trying to solve it."] %>

  <%= PBF.submit f, submit_text(@changeset), class: "btn btn-primary float-right" %>
<% end %>
