<div class="row justify-content-center">
  <div class="col col-main">
    <h2 class="text-center">New Project</h2>

    <%= render "form.html", Map.put(assigns, :action, Routes.project_path(@conn, :create)) %>
  </div>
</div>