<div class="row justify-content-center">
  <div class="col col-main-small">
    <h3>Edit User</h3>
    <%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update)) %>
  </div>
</div>
