<%= form_for @changeset, @action, fn f -> %>
  <%= PBF.text_input f, :email %>

  <%= PBF.password_input f, :password %>

  <%= PBF.submit f, submit_text(@changeset, "Sign Up"), class: "btn btn-primary float-right" %>
<% end %>