<div class="row justify-content-center">
  <div class="col-sm-6 col-md-offset-3">
    <div class="card my-4">
      <div class="card-body">
        <h3 class="card-title">Sign Up</h3>
        <%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>
      </div>
    </div>
    <p class="text-center">Already have an account? <%= link "Log In", to: Routes.session_path(@conn, :new) %></p>
  </div>
</div>
